

<p>
Accessible Helper Modules is a group of modules to 
make creating accessible websites easier.

At this point it is more of a proof of concept than a useful module.

The modules' functionality are
divided up as such:
</p>
  
<h2>Accessible API Module (accessible_api) </h2>

<p>General toolset including guidelines data, site accessibility preferences,
and functions other modules may build on.</p>

<h3>Functionality</h3>
<ul>
<li>store any reusable data such as guidelines and mapping of guidelines
  to drupal authoring contexts.</li>

<li>configuration interface and retrieval function for site accessibility guideline preferences.
  The idea here is store the general accessibility preferences here, but utilize
  preferences in other modules and themes.</li>
<li>configuration of accessibility conventions preferences where practices are not yet clear.
  e.g. should content be positioned off screen left, top, or right</li>
</ul>


<h2>Accessible Fix Module (accessible_fix)</h2>

<p>Accomodate and fix accessiblilty deficiencies
in core and contributed module.  Works on a case by case basis with hooks like
hook_form_alter to modify other modules forms and markup.  As a rule, these
are either stop gap measures until real fixes are made in modules or when
accessibility implementation is unclear or preference based.</p>

<h3>Functionality</h3>
<ul>
<li>allows overriding some theme's .tpl files with more accessible ones</li>
<li>examples include google_cse and search module in drupal 6 needing labels.</li>
<li>allows for invisible heading configuration in blocks</li>
<li>allows for applying aria roles to blocks</li>
</ul>


<h2>Accessible Help Module (accessible_help)</h2>

<p>Adds contexttual accessibility help for content authors.</p>

<ul>
<li>provides contextual help through hook_help</li>
</ul>



<h2>Theme overrides folder</h2>

<p>Much of accessiblity is on the theming layer, so examples .tpl and template.php overrides
are included in the accessible_fix/theme_overrides directory.</p>


<h2>Install and Configure</h2>

<ol>
<li>Enable the module(s) you want to use.  All require accessible_api. (admin/build/modules/list)</li>
<li>Give site admins permissions to "administer accessible module" (admin/user/permissions)</li>
<li>Configure the accessible_api module. (admin/settings/accessible)</li>
<li>Configure Accessible Fixes Module (admin/settings/accessible/accessible_fix)</li>
</ol>

<p>At this point, nothing has changed in the HTML of your site unless you have a theme that is
already altered to leverage this module.  It will simply include an additional CSS file.
The following template changes will allow your setting to affect the HTML.

</p>

<h2>Working with block.tpl</h2>

<p>Blocks can leverage the accessible_api and accessible_fix by adding aria roles and making headings invisible.</p>

<h3>Positioning block headers off screen</h3>
<p>See the file accessible_fix/module_fixes/block.documentation.inc or <a href="/admin/settings/accessible/accessible_fix">Accessible Fix Settings form in "Block Fixes" section.</p> 

<h3>Adding ARIA Roles to the block</h3>
<ol>
<li>Make sure you have enabled some role goupings such as landmarks, document dtructure,
widget, abstract (admin/settings/accessible).  This controls the roles available.
</li>
<li>Alter the block.tpl. An example is in accessible_fix/theme_overrides/genesis/accessible-fix-block.tpl
</li>

<li>Configure blocks to have aria roles.  Navigate to block configure (admin/build/block/list/[theme])
</li>
<li>Flushing the theme cache may be necessary until this module is farther along</li>
</ol>




